@import base.controllers.EnvironmentAll
@import base.MyConfigImplicit.MyConfig
@import base.models.ModelBase
@import base.viewHelpers._
@(
    f: FormView[ModelBase],
    action: String,
    formMethod: String = "post",
    cssClass: String = "form-horizontal",
    cssClassLabel: String = "",
    cssClassField: String = "",
    saveButtonTitle: String = "Submit",
    resetButtonTitle: String = "",
    encType:String = "multipart/form-data"
)(implicit env: EnvironmentAll, request: Request[AnyContent])

<form action="@action" method="@formMethod" class="@cssClass" role="form" enctype="@encType">
    <div class="form-group">
        @f.getAll.map{fld => @formField(fld,f)}
    </div>
    @if(saveButtonTitle.nonEmpty || resetButtonTitle.nonEmpty){
        <div class="form-group">
            <div class="">
                @if(saveButtonTitle.nonEmpty) {
                    <button type="submit" class="btn btn-default">@saveButtonTitle</button>
                }
                @if(resetButtonTitle.nonEmpty) {
                    <button type="reset" class="btn">@resetButtonTitle</button>
                }
            </div>
        </div>
    }
</form>