@import base.controllers.EnvironmentAll
@import base.MyConfigImplicit.MyConfig
@import base.utils.Formatter._

@(title: String = null, styles: scala.List[String]=scala.List(), scripts: scala.List[String]= List())(content: Html)(implicit env: EnvironmentAll, request: Request[AnyContent])

@for(
    pageTitle <- Some( (title ?: "") + " - " + env.config.appName );
    isDevMode = env.isDevMode;
    isStagingMode = env.isStagingMode;
    dev = if(isDevMode) List("dev") else Nil;
    pageStyles = styles ::: dev
){
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @if(!isDevMode && !isStagingMode){@inc.jsErrorsMonitoring()}
    <title>@pageTitle</title>
    @for(css <- pageStyles){<link rel="stylesheet" href="/assets/css/@{css}.css?v=@env.config.appVersion">}
</head>
<body>
    @content
    @inc.scripts(scripts)
</body>
</html>
}